{% extends "base.html" %}
{% block title %}Alessio Proposito - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Alessio Proposito</h1>
<p>PhD Candidate</p>
</header>

<span class="image right"><img src="images/Alessio_250_2.jpg" alt="" /></span>

<p>I strongly believe that studying the brain from a multilevel and multidisciplinary approach is fundamental to comprehend how the different levels of brain organization dynamically interact and promote specific behaviours to face environmental challenges.</p>
<p>In my PhD, I investigate how people are resilient and how resilience dynamically fluctuates over time. My interest is to understand how individuals react to severe and daily life stressors and to disentangle the cognitive and affective processes underlying adaptive and maladaptive stress-response strategies to environmental controllability.</p>
<p>I completed my education at the University of Bologna (Bachelor's degree in Psychological Science and Techniques) and at the Sapienza University of Rome (Master’s degree in Cognitive Neuroscience and Psychological Rehabilitation), conducting both my Bachelor’s and Master’s thesis internships in the Social, Cognitive and Affective Neuroscience Unit (SCAN-Unit) at the University of Vienna. In 2020, I moved to Nijmegen where I worked as an intern and then as a Research Assistant at the CANlab, before moving on to my own PhD project.</p>
<p>I love exploring nature, listening to music and playing chess. I have no pets but four little sisters should be enough!</p>


<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:Alessio.Proposito13@donders.ru.nl">Alessio.Proposito13@donders.ru.nl</a></li>
    <li class="fa-orcid">
    <a href="https://orcid.org/0000-0002-1518-0281">ORCID</a><br />
    </li>

</ul>

</section>
{% endblock %}
