{% extends "base.html" %}
{% block title %}Alessio Proposito - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Alessio Proposito</h1>
<p>Trainee</p>
</header>

<span class="image right"><img src="images/Alessio_250.jpg" alt="" /></span>

<p>I am very interested in how affective processes modulate cognitive and memory functions in the brain. In the future, I would like to investigate neural mechanisms with a multidisciplinary approach, which allows to study the interactions between the different levels of brain organization.</p>
<p>During my internship at the CANlab, I am going to work with Lisa Wirz on her project which focuses on the temporal dynamics of memory representations by means of functional neuroimaging and physiological measures of arousal.</p>
<p>I obtained my Bachelor's degree in Psychological Science and Techniques at the University of Bologna, while I received the Master’s degree in Cognitive Neuroscience and Psychological Rehabilitation at the Sapienza University of Rome. However, my research experience is principally built around the Social, Cognitive and Affective Neuroscience Unit (SCAN-Unit) at the University of Vienna. Since 2017, I have worked on three different studies in which I was mainly involved in the analysis of behavioural, physiological and fMRI data.</p>
<p>I love exploring nature and playing chess. I have no pets but four little sisters should be enough!</p>

<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:Alessio.Proposito@radboudumc.nl">Alessio.Proposito@radboudumc.nl</a></li>
    <li class="fa-orcid">
    <a href="https://orcid.org/0000-0002-1518-0281">ORCID</a><br />
    </li>

</ul>

</section>
{% endblock %}
