{% extends "base.html" %}
{% block title %}Alumni - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Alumni</h1>
<p>Former lab members</p>
</header>

<span class="image right"><img src="images/alumni.png" alt="" /></span>

<ul>

<p><h3>2022</h3>
Imke van de Coevering
Bente Schippers
Nikie Stortelder

<p><h3>2021</h3>
Colin Schoenaker<br>
Frédérique Maas<br>
Ilse Dijkman<br>
Lana Miedema<br>
Noa Deckers<br>
Yana Schwarze<br>
Jeroen de Bruin<br>
Jelle Asbreuk<br>
Anne Bloemers<br>
Ilya Veer<br>
</p>
   
<p><h3>2020</h3>
Deborah Peeters<br>
Ayam Grinthal<br>
Dionne Lenferink<br>
Melvin Zoetman<br>
Aniek Bergervoet<br>
Rowenna Bijl<br>
Lucas Geelen<br>
Zala Reppmann <br>
Sofie Knipping<br>
Lieke van Dongen<br>
</p>

<p><h3>2019</h3>
Xu Gong<br>
Emmanuella Foinikianaki<br>
Margo Willems<br>
Jette de Vos<br>
Maria Lojowska<br>
Hariharan Murali Mahadevan<br>
</p>

<p><h3>2018</h3>
Bob Kapteijns<br>
Milette Dufour<br>
Ilaria Corti<br>
Lisa van der Wal<br>
Ilse van Eck<br>
</p>

<p><h3>2017</h3>
Ilaria Corti<br>
Laura Kress<br>
Yannick Murray<br>
Linda de Voogd<br>
</p>

<p><h3>2016</h3>
Lotte Hilberdink<br>
Hanjian Xu<br>
Anouk van der Heide<br>
</p>

<p><h3>2015</h3>
Christina Young<br>
Ramona Barte<br>
</p>


<p><h3>2014</h3>
Jonathan Kanen<br>
Yannick Murray<br>
</p>

<p><h3>2013</h3>
Silvy Collin<br>
Marlieke van Kesteren<br>
Peter Bos<br>
Marloes Henckens <br>
</p>




</section>
{% endblock %}
