{% extends "base.html" %}
{% block title %}Andy Brendler - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Andy Brendler</h1>
<p>Trainee</p>
</header>

<span class="image right"><img src="images/Andy_250.jpg" alt="" /></span>

<p>My main research interest lies in the area of affective processing, which is something that drives us on a daily basis. I am intrigued about the question how the mechanisms involved can deviate on a behavioral and neural level and may manifest themselves in stress-related and affective disorders such as PTSD, anxiety disorders or depression.</p>
<p>I joined the CAN lab for my CNS master project in which I currently work on an effort-based decision-making task under the supervision of dr. Eliana Vassena. We aim to apply computational phenotyping of motivation for affective disorders.</p>
<p>Before joining the CAN lab, I completed an internship at the Max Planck Institute of Psychiatry in the context of a different Psychology Master program, where I worked on a project concerning the development of PTSD. This internship showed me once more that the intersection between affective neuroscience and clinical psychology is what interests me the most.</p>
<p>In my free time, I enjoy pretty much every sport where a ball is involved – so if you are up for it, come and challenge me.</p>

<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:andy.brendler@ru.nl">andy.brendler@ru.nl</a></li>
    </li>

</ul>

</section>
{% endblock %}
