{% extends "base.html" %}
{% block title %}Anne de Beus - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Anne de Beus</h1>
<p>Trainee</p>
</header>

<span class="image right"><img src="images/Anne_de_Beus_250.jpg" alt="" /></span>

<p>I am tremendously interested in the diversity between people in the broad sense of the word, but particularly in what makes one more prone to developing and maintaining neuro psychopathologies than others. Furthermore, I am highly interested in how research can contribute to developing more personalized treatment, taking the diversity between individuals into account.</p>
<p>As an intern, I will be part of the CovoS study for the next five months, I am sure I can learn a lot during my internship period and I am very keen to work with this research team.</p>
<p>Currently, I am doing the medical neuroscience specialization within the biomedical sciences master's degree. Furthermore, I have a background in physiotherapy, during my bachelor I had the possibility to follow the minor neurorehabilitation in Austria. After working a year as a physiotherapist I started the premaster biomedical sciences, including the minor ‘Neuroscience of stress related psychopathology’.</p>
<p>Besides spending a lot of time studying, which I enjoy, I furthermore love to climb and visit festivals. With the remaining hours of the month, I like to go to the mountains and to art exhibitions with friends.</p>

<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:anne.debeus@ru.nl">anne.debeus@ru.nl</a></li>
</ul>

</section>
{% endblock %}
