0{% extends "base.html" %}
{% block title %}Laura de Nooij - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Anne Bloemers</h1>
<p>Trainee</p>
</header>

<span class="image right"><img src="images/Anne_250.jpg" alt="" /></span>

<p>I am an intern in the Cognitive Affective Neuroscience lab. I will be working with Rayyan Tutunji on the Burnout project and in this study I will focus my research on the influence of the Allostatic Load on Burnout. My research interests are in the field of stress-related psychopathology. What are the mechanisms behind the onset of stress and how can this be translated to the clinical practice.</p>
<p>I have completed my Bacherlor’s program in Medicine at the Radboud University. This internship is part of my Medicine Master’s program. </p> 
<p>In my spare time, I enjoy playing tennis, cooking and trying to keep my jungle of plants alive. </p> 


<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:anne.bloemers@radboudumc.nl ">anne.bloemers@radboudumc.nl </a></li>


</ul>

</section>
{% endblock %}
