{% extends "base.html" %}
{% block title %}Antigoni Chartofyli - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Antigoni Chartofyli</h1>
<p>Trainee</p>
</header>

<span class="image right"><img src="images/Antigoni_250.jpg" alt="" /></span>

<p>My name is Antigoni Chartofyli and I am doing a volunteering Internship via the Erasmus Program on the MindRest Project. After experiencing for myself the positive effects of meditation, I am very excited and interested in finding out whether Mindfulness-Based Stress Reduction (MBSR) can actually influence and affect the stress levels in students.</p>
<p>I originally come from Greece, where I finished my Bachelor's studies in Psychology at the University of Ioannina. During my studies, I did two more internships throughout the years, one in the psychiatric department for children & adolescents at the General Hospital of Thessaloniki "G. Papanikolaou" and another one in a Non-governmental Organization, called ARSIS, concerning unaccompanied minor refugees and other vulnerable groups of the Epirus region.</p>
<p>On a personal note, I like trying new tastes and exploring new places. In my free time, I like doing sports, drawing and participating in social activities.</p>

<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:antigoni.chartofyli@donders.ru.nl">antigoni.chartofyli@donders.ru.nl</a></li>
    </li>

</ul>

</section>
{% endblock %}
