{% extends "base.html" %}
{% block title %}Bilge Uysal - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Bilge Uysal</h1>
<p>Trainee</p>
</header>

<span class="image right"><img src="images/Bilge_250.jpg" alt="" /></span>

<p>I am a second-year master's student in Cognitive Neuroscience at Radboud University, actively engaged in research under the supervision of Assistant Professor Eliana Vassena. My primary research focus lies in the domain of computational phenotyping, specifically investigating motivational aspects. My main interest involves understanding the underlying mechanisms of cognitive control, decision-making, and computational modeling. Furthermore, to understand how deficits in cognitive control can contribute to understanding stress-related disorders such as anxiety and depression.</p>   
<p>I obtained my bachelor's degree in Psychology at the Sabanci University in Istanbul, Turkey. My thesis explored the intriguing connection between working memory and memory formation through event segmentation.</p>
<p>Beyond my academic pursuits, I find solace in indoor and outdoor climbing, immersing myself in nature through activities like camping and hiking. Additionally, I channel my creativity by writing short stories and crafting through crocheting and jewelry-making.</p>


<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:bilge.uysal@ru.nl">bilge.uysal@ru.nl</a></li>
    <li class="fa-twitter"><a href="https://twitter.com/uysabilge">@uysabilge</a></li>
    <li class="fa-orcid">
    <a href="http://orcid.org/0000-0002-8086-5279">ORCID</a><br />
    </li>

</ul>

</section>
{% endblock %}
