0{% extends "base.html" %}
{% block title %}Laura de Nooij - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Colin Schoenaker</h1>
<p>Trainee</p>
</header>

<span class="image right"><img src="images/Colin_250.jpg" alt="" /></span>

<p>I am currently an intern on the project of Savi Huan Wang investigating the effects of endocannabinoid system deficits induced by early-life stress on fear memory extinction. Apart from that I am still exploring my research interests but behavioural, medical and psychotherapeutic neuroscience spark my interest.</p>
<p>I have my Bachelor’s degree in Medical Biology. This Includes an internship performing a systematic review regarding the effects of propofol on the developing brain under supervision of Carlijn Hooijmans at the SYRCLE department of the RadboudUMC. I am currently doing the Neurobiology specialization of the Medical Biology master following courses next to my current internship.</p>
<p>In my free time I like to go to festivals with friends, collect vinyl records, cook food from all over the world, play board games and watch old detective movies.</p>
<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:c.schoenaker@student.ru.nl">c.schoenaker@student.ru.nl</a></li>
    </li>

</ul>

</section>
{% endblock %}
