{% extends "base.html" %}
{% block title %}Emma Heling - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Emma Hermsen</h1>
<p>Research Assistant</p>
</header>

<span class="image right"><img src="images/Emma_250.jpg" alt="" /></span>

<p>My name is Emma Hermsen and after being a trainee at the CAN lab, I am now a research assistant, involved in the DynaMORE project with Sophie Bögemann. </p>

<p>DynaMORE aims to improve mental health and promote resilience by finding out what protects people from developing mental disorders in the face of adversity. This is done by collecting psychological, behavioural, neural, and physiological markers in at risk-individuals during stressful life phases.</p>

<p>I love to spend my time baking, being with people, and appreciating the seasons.</p>

<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:emma.hermsen@student.ru.nl">emma.hermsen@student.ru.nl</a></li>
    </li>

</ul>

</section>
{% endblock %}

