{% extends "base.html" %}
{% block title %}Emma Heling - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Emma Heling</h1>
<p>Research Assistant</p>
</header>

<span class="image right"><img src="images/Emma_Heling_250.jpeg" alt="" /></span>

<p>During my student days I was taught about many facets of human behaviour, which stimulated an ever-growing fascination for why people think, feel, and act the way they do. Overall, I am curious about the mechanisms that underly the variability in stress, emotion regulation, motivation, and learning capacities, and their differences on an individual level. It enthuses me and gives me energy to know how I can make a meaningful contribution to the community through advancement of knowledge and insights.</p>
<p>Here, I'm working on the 'Cortisol voor PTSS' (CovoS) study with Laura and Imke, to investigate the relationships between early life adversity, epigenetic mechanisms, and cortisol release by the stress response system (HPA axis), and examine whether glucocorticoid administration can improve fear extinction. I am also involved in the Dandy project, in which we establish a double dissociation between the contribution of Noradrenaline and Dopamine to the effects of acute stress on cognition. Additionally, I will be contributing to the Neurapp project.</p>
<p>I obtained a double bachelor’s degree in Social and Cognitive Neurobiological Psychology at Utrecht university. In my bachelor thesis I examined the effects of oral contraceptives on empathy. As part of a research master in Cognitive Neuroscience at the Radboud University, I did my master’s internship in the Motivational and Cognitive Control lab, investigating the biomarkers of cognitive effort evaluation, in an attempt to establish which cognitive processes are underlying the changing pupil dynamics with respect to cognitive effort.</p>
<p>My personal interests are art and science, and I have a cat named Kareltje. Apart from active sports (hockey and kickboxing), I love to sing, read, paint, bake, and engage in other creative activities.</p>
<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    Room 00.092<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:emma.heling@donders.ru.nl">emma.heling@donders.ru.nl</a></li>
    <li class="fa-twitter"><a href="https://twitter.com/HelingEmma">@HelingEmma</a></li>
</ul>

</section>
{% endblock %}
