{% extends "base.html" %}
{% block title %}Laura de Nooij - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Ilse Dijkman</h1>
<p>Trainee</p>
</header>

<span class="image right"><img src="images/Ilse_250.jpg" alt="" /></span>

<p>I've always been curious about the human mind and how we become the person we are today. I have a broad interest in neuropsychology and I'm fascinated by many questions ranging from 'why does someone develop anxiety' to 'how can we build long-lasting resilience'. But my main interest has always been how stress affects us and how we can help prevent or cure psychopathologies.</p> 
<p>Right now, I'm an internee at the MindRest-project. Together with Nikos, we will investigate the underlying mechanisms of a Mindfulness-Based Stress Reduction (MBSR) training in healthy but stressed students. During my internship I will mainly focus on how MBSR improves stress resilience, and which personality traits serve as a predictor of better health outcomes.</p>
<p>This internship is part of my Master's studies Biomedical Sciences. I've finished my Bachelor's degree here in Nijmegen during which I completed the minor Neuroscience of Stress-Related Psychopathologies. It was during this minor that I knew for sure I wanted to continue this direction by choosing the Medical Neuroscience specialisation in the Master. Before this internship, I wrote a literature thesis on Sensory Processing Sensitivity and how to build resilience under the supervision of prof. dr. Judith Homberg.</p>
<p>In my free time I love to be creative! I like to write, draw, do yoga and dance. I'm absolute dreamer and I aim to become a Science Journalist one day to spread my enthusiasm about science. Hopefully, you'll see my name one day in the Quest, Kijk, or Volkskrant.</p>

<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:ilse.dijkman@radboudumc.nl">ilse.dijkman@radboudumc.nl</a></li>
    </li>

</ul>

</section>
{% endblock %}
