{% extends "base.html" %}
{% block title %} Imke van de Coevering - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Imke van de Coevering</h1>
<p>External Trainee</p>
</header>

<span class="image right"><img src="images/Imke_250.jpeg" alt="" /></span>

<p>This year I obtained my bachelor degree in medicine at the Radboud University and I am currently in a gap year between my bachelor and master. I want to learn something more about the brain since I noticed that I became very interested in the working and understanding of the brain during the last couple of years of my studies. Things that get me interested are topics such as how the brain communicates, how it exactly works, what the impact is of the brain on other processes and how this is controlled by other mechanisms. Thereby I find it extremely fascinating that there is so much about the brain that is yet unknown in how it works and communicates etc.</p> 
<p>A year ago I participated in the minor 'Neuroscience of stress-related psychopathology' by Erno Hermans. This minor confirmed my interest in the brain even more. At the moment I think that I, after finishing my medicine study, would like to continue my study focused on the neurological field. Therefore I am very glad that I can get to know more about the brain and everything else around that.</p>
<p>I am here working on the 'Cortisol voor PTSS' (CovoS) study with Laura de Nooij and Emma Heling, to investigate the relationships between early life adversity, epigenetic mechanisms, and cortisol release by the stress response system (HPA axis). Furthermore we examine whether glucocorticoid administration can improve fear extinction specifically for those patients with dysregulation in the stress response system.</p> 
<p>It is a great opportunity for me to help at the CovoS study and I hope to expand my knowledge over here.</p>


<hr class="major" />

<h2>Contact</h2>
    </li>
    <li class="fa-at"><a href="emailto:I.van.de.Coevering@propersona.nl">Imke.van.de.Coevering@propersona.nl</a></li>
<br />
    </li>

</ul>

</section>
{% endblock %}
