{% extends "base.html" %}
{% block title %}Jeroen de Bruin - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Jeroen de Bruin</h1>
<p>Trainee</p>
</header>

<span class="image right"><img src="images/Jeroen_250.jpg" alt="" /></span>

<p>This year I am studying a pre-master biomedical sciences for which I will be doing an internship at the Donders Institute. I will help with the Stress Resilience and the Brain (STRAIN) project, that looks at stress in burnout patients, with Rayyan Toutounji as my daily supervisor.</p> 
<p>Last academic year I completed my bachelor's degree in medicine and this year I actually had a gap year due to COVID-19 and a late registration for the residency. To fill this gap year and to learn a lot about medical scientific research, I started a pre-master's in biomedical sciences. I like to gain new knowledge about medical scientific research and probably want to do more with this in the future in addition to completing my medical education.</p>

<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:jeroen.debruin@student.ru.nl">jeroen.debruin@student.ru.nl</a></li>
    </li>

</ul>

</section>
{% endblock %}
