{% extends "base.html" %}
{% block title %}Joey Stuiver - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Joey Stuiver</h1>
<p>Trainee</p>
</header>

<span class="image right"><img src="images/Joey_250.jpg" alt="" /></span>

<p>I am a master student within the Cognitive Neuroscience program at the Radboud University, currently doing my internship in the CAN-lab. I will be under supervision of Florian Krause while working on the ‘TraumaControl’ project, in which we aim to modulate control over stress/fears using bio- and neurofeedback techniques. My primary research interests lie at the intersection of human cognition and neuroscience. Notably, my previous involvement in CAN-lab through a lab rotation enhanced my understanding of acute stress effects on brain functioning, integrating pharmacological interventions and fMRI techniques. Additionally, I'm fascinated by how sensory information is processed and integrated in memory, a passion I explored during my bachelor’s internship in the faculty of Psychology and Neuroscience at Maastricht University.</p>
<p>I completed my Bachelor's degree in Biomedical Sciences with a minor in Psychology at Maastricht University, where my academic journey took a multifaceted turn. After my bachelor graduation, I pursued an additional Master's degrees in Human Movement Sciences at Maastricht University. For my thesis project there, I looked at the metabolic and cognitive effects of high ambient CO2 concentrations.</p>
<p>Outside of research, my other passion is music. I have been making different kinds of electronic music for a little over 7 years. Other than that I enjoy fitness, calisthenics and bouldering.</p>

<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:joey.stuiver@ru.nl">joey.stuiver@ru.nl</a></li>
    </li>

</ul>

</section>
{% endblock %}
