{% extends "base.html" %}
{% block title %}Jonathan Posthuma - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Jonathan Posthuma</h1>
<p>Trainee</p>
</header>

<span class="image right"><img src="images/Jonathan_250.jpg" alt="" /></span>

<p> Hello! My name is Jonathan and I’m currently affiliated with the “Cortisol voor PTSS” (CovoS) project. Within the project we will study early life adversities, related epigenetic mechanisms and how these factors alter our stress response system. In extent, we will examine whether the administration of glucocorticoids can improve fear extinction specifically in patients experiencing dysregulation in the stress response system as a result of trauma. Under the supervision of Laura de Nooij I will also write my master thesis whilst completing my master’s program in cognitive neuroscience at Radboud University.  </p>
<p> Before this program I obtained my bachelor’s degree in Psychology at Radboud University. During my bachelor’s program I emphasized my curriculum on psychopathologies especially in the memory domain. Therefore I’m very pleased to continue studying this line of work during my stay at the cognitive affective sciences lab! </p>
<p> When I have free time I’m always on the lookout for nice food and I like doing sports. Furthermore, I’m always approachable to share a good (or a bad) cup of coffee! </p>

<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    </li>
    <li class="fa-at"><a href="emailto:jonathan.posthuma@ru.nl">jonathan.posthuma@ru.nl</a></li>
    </li>

</ul>

</section>
{% endblock %}
