{% extends "base.html" %}
{% block title %} Josefine Schedlowski - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Josefine Schedlowski</h1>
<p>Trainee</p>
</header>

<span class="image right"><img src="images/Josefine_250.jpg" alt="" /></span>

<p>I am currently doing my CNS master internship in the CAN-lab under supervision of Eliana Vassena on the DANDYN project. This projects fits very well with my research interests since it combines neuropharmacology and stress research. More specifically, in my internship I will look at the specific contributions of Noradrenaline and Dopamine on higher-order cognition in the acute stress response with a focus on Striatal- vs. Prefrontal-dependent cognition. </p>

<p>Generally, I am interested in Neuropsychology as well as Neuropsychological interventions and rehabilitation. Next to the topic of stress, I am also fascinated by the topic of pain and its physical and psychological impact.  
</p>

<p>Before starting the CNS master, I did a Bachelor in Psychology with a specialization in Brain & Cognition here at Radboud University. Additionally, I enjoy working as a teaching assistant in Psychology Bachelor courses. 
</p>

<p>In my free time I enjoy trying different special beers with friends, and do a lot of sports such as bouldering, soccer, tennis and squash. I am also a big fan of travelling in different countries. 
</p>


<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:josefine.schedlowski@ru.nl">josefine.schedlowski@ru.nl</a></li>
<br />
    </li>

</ul>

</section>
{% endblock %}
