{% extends "base.html" %}
{% block title %}Joëlle Mouwen - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Joëlle Mouwen</h1>
<p>Trainee</p>
</header>

<span class="image right"><img src="images/Joëlle_250_2.jpg" alt="" /></span>

<p>I discovered my passion for brain function, human behavior and neuroimaging very early during my Psychology Bachelor’s at Tilburg University. Hence, it did not take long for me to start dreaming of a career in neuroscientific research. To gain more practical experience, I voluntarily worked as a research assistant for two years in which I especially contributed to the data collection for multiple (EEG) studies regarding audiovisual speech integration.</p> 
<p>After graduating my Bachelor’s, I moved to Maastricht for the next step of my career: my current Master’s programme in Cognitive Neuroscience. I am currently doing my research internship and am again working as a parttime research assistant in language-related studies.</p>
<p>For my research internship, supervised by Florian Krause, I am contributing to the TraumaCtrl (Trauma Control) project in which we apply real-time fMRI neurofeedback training to examine self-regulating brain networks and intrusive memory suppression in PTSD. I am getting more and more interested in the underlying mechanisms of psychopathologies and disorders related to stress, memory and personality and I would love to continue my career in a related research field after graduating my Master’s. </p>
<p>In my free time I’m into gaming, ballroom- and latin dance, reading and spending time with my friends and family.</p> 


<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Universiteitssingel 40<br />
    6229 ER Maastricht<br />
    The Netherlands
    </li>
    <li class="fa-at"><a href="emailto:j.c.d.mouwen@student.maastrichtuniversity.nl">j.c.d.mouwen@student.maastrichtuniversity.nl</a></li>
    </li>

</ul>

</section>
{% endblock %}
