{% extends "base.html" %}
{% block title %}Laura de Nooij - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Lana Miedema</h1>
<p>Trainee</p>
</header>

<span class="image right"><img src="images/Lana_250.jpeg" alt="" /></span>

<p>Hi my name is Lana, I am currently an intern at the CovoS project, with PhD-candidate Laura de Nooij and will stay at this position for 6 months.</p> 
<p>My Research interests are orientated towards (Cognitive) neuroscience, PTSD, pharmaceutical development, immunology and policy development.</p>
<p>Before this I got my Bachelor Biology at Utrecht University with a minor in Biomedical sciences and I’m now at my first year of the Master Medical Biology (Human Biology specialisation) at Radboud university.</p>
<p>One of my favourite hobbies is embroidery, especially during this pandemic.</p>


<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:lana.miedema@student.ru.nl">lana.miedema@student.ru.nl</a></li>
    </li>

</ul>

</section>
{% endblock %}
