{% extends "base.html" %}
{% block title %}Lisa Wirz - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Lisa Wirz</h1>
<p>Postdoc</p>
</header>

<span class="image right"><img src="images/Lisa.jpg" alt="" /></span>

<p>My main research interest is to investigate the effects of stress on cognitive functions and their interaction and link this to the influence of different stress hormones on neural processes.</p>
p>As part of a collaborative Open Research Area grant, I will investigate the differential effects of stress hormones on the temporal dynamics of memory representations using pharmacological manipulations and functional neuroimaging. As part of a personal grant from the German Research Foundation (Deutsche Forschungsgemeinschaft, DFG) I will investigate the effects of stress on emotion regulation using functional neuroimaging.</p>
p>In the future, I want to use the knowledge that we will gain from these projects with respect to stress, memory and emotion regulation to help and find ways to improve resilience against stress-related psychopathologies.</p>

<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    Room  2.220<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-phone">(+31) 024 361 1301</li>
    <li class="fa-at"><a href="emailto:l.wirz@donders.ru.nl">l.wirz@donders.ru.nl</a></li>
    <li class="fa fa-twitter"><a href="https://twitter.com/wirz_lisa">@wirz_lisa</a></li>
    <i class="fa-link"></i><a href="https://orcid.org/0000-0002-2811-4080">0000-0002-2811-4080</a><br />
    </li>


</ul>

</section>
{% endblock %}
