{% extends "base.html" %}
{% block title %}Malin Au - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Malin Au</h1>
<p>PhD Candidate</p>
</header>

<span class="image right"><img src="images/Malin_250.jpg" alt="" /></span>

<p>My name is Malin Au (she/her), and I started my PhD trajectory in January 2025 under the supervision of Erno Hermans, Mirjam van Zuiden (University of Utrecht), Christiaan Vinkers (VUmc) and David Baden (Diakonessenhuis Utrecht). What made me apply for the position in this multicenter consortium is my background in both clinical psychology and PTSD research. I was able to conduct internships at a psychiatry, a psychological first aid center for trauma-exposed refugees and the Grady Trauma Project in Atlanta, which focuses on studying trauma, PTSD and depression in marginalized populations in the US. This built on my huge interest in studying minorities and other populations at high risk to develop psychopathology, especially PTSD. </p>

 

<p>In our future multicenter trial, we will test whether hydrocortisone versus placebo will decrease the risk to develop PTSD following a traumatic incident in emergency department patients. I am very excited to be a part of this trial, which will hopefully contribute to an easy-to-implement prevention for people otherwise suffering from the consequences of trauma. Erno Hermans, my supervisor at the Donders Institute and Radboud UMC, can provide valuable insights into the mechanisms underlying memory formation and retrieval in people at risk for PTSD. </p>

 

<p> To unwind directly after work, I definitely do anything but staying inside. If I don’t go for a run I at least take a short walk to enjoy the fresh air or cycle a little bit. Besides that, I rediscovered reading fiction and puzzling. I’m definitely in need for a new creative hobby, such as crocheting or painting!</p>

<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:m.au@amsterdamumc.nl">m.au@amsterdamumc.nl</a></li>
    </li>

</ul>

</section>
{% endblock %}
