{% extends "base.html" %}
{% block title %}Marta Marciniak - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Marta Marciniak</h1>
<p>Visiting PhD Candidate</p>
</header>

<span class="image right"><img src="images/Marta_250.jpg" alt="" /></span>

<p>My main research question is how we can increase stress resilience with the use of mobile apps? Is it possible that an app can change our reaction to stress and help us regulate our emotions? Can we experience less negative, and more positive events after a short training with the app?</p>

<p>To answer these questions, I develop and test mHealth Ecological Momentary Interventions as a part of the Dynamic Modelling of Resilience (DynaMORE) project, funded by the European Union Research and Innovation program Horizon 2020. My main affiliation is Experimental Psychopathology and Psychotherapy Group (led by Prof. Birgit Kleim) at the University of Zurich. At Donders Institute, I am involved in the NEURAPP project which aims to investigate how the use of an app can impact neural activation in regions devoted to emotion regulation.</p>

<p>I obtained Master's degrees in Psychology and Cognitive Science, as well as a Bachelor's degree in Philosophy from the University of Warsaw. During my studies I conducted research internships at Karolinska Institute in Brain, Body and Self Lab; at ETH Zurich in Translational Neuromodeling Unit; and at Nencki Institute in Laboratory of Neuroimaging. </p>


<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-phone">(+31) 024 36 368220</li>
    <li class="fa-at"><a href="emailto:marta.marciniak@donders.ru.nl">marta.marciniak@donders.ru.nl</a></li>
    <li class="fa-twitter"><a href="https://twitter.com/MMarciniaq">@mmarciniaq</a></li>
    
</ul>

</section>
{% endblock %}
