{% extends "base.html" %}
{% block title %}Marta Barbieri- Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Marta Barbieri</h1>
<p>Trainee</p>
</header>

<span class="image right"><img src="images/Marta_250.jpg" alt="" /></span>

<p>Hi! I’m Marta, a second-year master’s student in Neurobiology at the University of Pavia, Italy. I joined the CAN lab under the supervision of Dr. Lisa Wirz as part of the Erasmus Traineeship program. Currently, I’m working on the fMRI study ORA II, which aims to investigate how stress hormones, specifically noradrenaline and cortisol, affect memory accuracy and generalization. </p>

<p> I hold a bachelor’s degree in Genomics from the University of Bologna, where my thesis focused on epigenetics. Specifically, I compared different methods for analyzing chromatin immunoprecipitation sequencing replicates. My growing interest in brain mechanisms and higher cognitive functions eventually led me to the CAN lab. </p>

<p>In my free time, I love being outdoors, whether it’s reading a book in the sun, camping by the sea, or snowboarding in the mountains. I also enjoy baking for special occasions and have a lot of fun experimenting with hair dye!</p>


<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:marta.barbieri@ru.nl">marta.barbieri@ru.nl</a></li>
    <br />
    </li>

</ul>

</section>
{% endblock %}
