{% extends "base.html" %}
{% block title %}Maxime Houtekamer - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Maxime Houtekamer</h1>
<p>PhD candidate</p>
</header>

<span class="image right"><img src="images/profile.png" alt="" /></span>

<p>My main research interest is memory flexibility. I want to investigate whether we can find behavioral interventions that allow us to persistently attenuate fearful memories. To do this, I use threat conditioning paradigms in combination with assessments of autonomic and somatic markers (startle, HR, SCR) and fMRI. Through a mechanistic understanding of how new experiences can modify existing memories, I hope to contribute to enhanced treatment of fear- and anxiety-related disorders.</p>

<p>I started my PhD with Marijn Kroes, studying reconsolidation-based interventions. Specifically, we used a virtual reality paradigm to investigate whether presenting extinction within the hypothesized reconsolidation window can effectively attenuate emotional memories. Now, in the Cognitive Affective Neuroscience lab of Erno Hermans, I am studying the neural mechanisms underlying counterconditioning. In my work, I try to advocate open and transparent science by pre-registering my methods and analyses.</p>

<p>I obtained my Bachelor’s degree in Liberal Arts & Sciences at University College Roosevelt with a major in science, focussing on cognitive neuroscience and molecular biology. For my Master’s I joined the Neurasmus programme to study neural plasticity at the university of Bordeaux in France and the Université Laval in Quebec, Canada. </p>

<p>In my spare time, I am raising an army of plants.</p>


<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    Room 02.257<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-phone">(+31) 024 36 10878</li>
    <li class="fa-at"><a href="emailto:m.houtekamer@donders.ru.nl">m.houtekamer@donders.ru.nl</a></li>
    <li class="fa-link">
    <a href="http://orcid.org/0000-0003-3364-8551">http://orcid.org/0000-0003-3364-8551</a><br />
    </li>

</ul>

</section>
{% endblock %}
