{% extends "base.html" %}
{% block title %}Michelle Siegel López - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Michelle Siegel López</h1>
<p>Trainee</p>
</header>


<span class="image right"><img src="images/Michelle_250.jpg" alt="" /></span>

<p>Hi everyone! I'm Michelle, a first-year Neurobiology Master's student at Radboud University, which was born in Venezuela but grew up in Spain.</p>
<p>I am currently working on the ORA project, which main focus is on identifying the neural circuits that predict and support recent vs. remote and accurate vs. generalized memory and their modulation by noradrenaline and cortisol, respectively.</p>
<p>Before joining this lab, I completed my Bachelor's in Biomedical Sciences at the International University of Catalonia (Barcelona). I also did an internship at the University Hospital in Zurich, where I worked in a sleep lab focused on researching its role in Alzheimer's and Parkinson's Disease.</p>
<p>Outside of my academic pursuits, I love to travel and explore new places. I'm also a big fan of dancing, especially to Latin songs and hip-hop. And here's a fun fact: I actually have three passports!</p>


<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:michelle.siegellopez@ru.nl">michelle.siegellopez@ru.nl</a></li>
</ul>

</section>
{% endblock %}
