{% extends "base.html" %}
{% block title %}Paula Salamone - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Paula Salamone </h1>
<p>External PhD Candidate</p>
</header>

<span class="image right"><img src="images/Paula_250.png" alt="" /></span>

<p>I am currently doing a Postdoctoral fellowship in the Center for Social and Affective Neuroscience (CSAN), Linköping University, working with Rebecca Böhme to study brain-body dynamics create the “self” experience, in psychiatric conditions or through experimental interventions.</p>
<p>I have a background in Psychology and a PhD in Neuroscience (2020, University of Córdoba) from Argentina. I obtained a fellowship from the Argentinean Research Council (2016, CONICET) to do research. The main focus of my doctoral research was to study how brain-heart dynamics affect processes as interoception and emotions in patients after heart transplant and in neurodegeneration, using multimodal techniques (behavior, EEG, fMRI). </p>
<p>During my PhD, I also collaborated with Erno Herman’s CANLAB group from the Donders Institute by studying how emotionally arousing stimuli affect memory. </p>
<p> In addition, I am very passionate about learning and teaching as much as I can. I have teaching experience in undergraduate and graduate courses. I was an assistant lecturer at the Universidad del Salvador (2016-2018, Buenos Aires), I was a tutor for Athena Studies (2018-2019, Nijmegen), and  I also gave postgraduate courses (e.g. Neuropsychological Evaluation) for public and private institutions. </p>

<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
        <li class="fa-at"><a href="emailto:pausalamone@gmail.com">pausalamone@gmail.com</a></li>
        <li class="fa fa-twitter"><a href="https://twitter.com/paulasalamone">@pausalamone </a></li><br />
<li class="fab fa-orcid">
    <a href="https://orcid.org/0000-0002-4429-8916">ORCID</a><br />
    </li>


</ul>

</section>
{% endblock %}
