{% extends "base.html" %}
{% block title %}Samantha Hamm - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Samantha Hamm</h1>
<p>Trainee</p>
</header>

<span class="image right"><img src="images/Samantha_H_250.jpeg" alt="" /></span>

<p>I am a Cognitive Neuroscience Master's student working on my thesis project with Alessio Proposito, Florian Krause, and Erno Hermans. My research focuses on how different affective patterns—such as reactivity, recovery, and variability—affect resilience, as well as their underlying neural correlates. Specifically, I am interested in individuals who have experienced childhood adversity or abuse.</p>

<p>By working with the large dataset from the Healthy Brain Study, which utilizes Ecological Momentary Assessment, we can explore these affective patterns in a naturalistic, real-life setting. I find this very exciting and hope to contribute to the development of applications that help prevent stress-related disorders. In the long term, the goal is to create interventions that support individuals who have experienced childhood abuse, and are e.g. struggling with emotion regulation, by helping them adjust emotional patterns and build resilience.</p>

<p>Outside of research, I am a writer, primarily focusing on short stories. I also love being outside in the green, perhaps underneath the stars, some yoga, with a bonfire, and other than cracking wood, having just silence around!</p>


<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:samantha.hamm@ru.nl">samantha.hamm@ru.nl</a></li>
   
</ul>

</section>
{% endblock %}
