{% extends "base.html" %}
{% block title %}Samantha Hermsen - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Samantha Hermsen</h1>
<p>Trainee</p>
</header>

<span class="image right"><img src="images/Samantha_250.jpg" alt="" /></span>

<p>My bachelor's degree is in Biology and Medical Laboratory Research, obtained at the HAN.  During my bachelor's degree, I spent a year as an intern at MSD Boxmeer. My previous internship involved two projects; the first was developing a multiplex assay for testing the quality of vaccines using Luminex technology. In the second project, we were tasked with improving shelf life conditions for coupled antibodies with a secret product! Currently I am studying the Masters medical biology with a specialization in human biology.</p>
<p>In addition to studying, I live with my partner in a fun, yet chaotic environment, together we take care of a two-year-old daughter and a 16-year-old son. My hobby of going to the gym "whenever I have time and enough energy" has recently come back into my life. Modern dance and pole dancing are also hobbies that should be restarted again. Hopefully, in the future this is possible, since dancing is my true passion.</p> 


<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    Room 01.160<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:Samantha.hermsen@ru.nl">Samantha.hermsen@ru.nl</a></li>
    <li class="fa-twitter"><a href="https://twitter.com/SamanthaHermse1">@SamanthaHermse1</a></li>
    </li>

</ul>

</section>
{% endblock %}
