{% extends "base.html" %}
{% block title %}Sander Strien- Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Sander J. H. van Strien</h1>
<p>Trainee</p>
</header>

<span class="image right"><img src="images/Sander_250.jpg" alt="" /></span>

<p>I am a second-year master’s student in Biomedical Sciences, Medical neuroscience specialization, at the Radboud University Nijmegen. I am working on analyzing data of the TRuSt project (Training reappraisal under stress) supervised by Lisa Wirz and acquiring data for the TraumaCtrl project (Getting trauma under control: learning to self-regulate PTSD brain networks through prospective neurofeedback training) under supervision of Florian Krause. My Bachelor’s in Molecular Life Science gave me a fundamental background into neuroscience which I want to use to do research into treatments/interventions for neurological disorders. The combination of these two projects speaks to me because I can analyze results of a possible intervention while also developing practical skills making fMRI scans. </p>

<p>In my free time I generally like to be active. I coach and play hockey, like to hike, run and snowboard. I also play the guitar (both acoustic and electric) and listen to music nearly all the time.</p>


<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:sander.vanstrien@ru.nl">sander.vanstrien@ru.nl</a></li>
    <br />
    </li>

</ul>

</section>
{% endblock %}
