{% extends "base.html" %}
{% block title %}Stelios Kapnisis - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Stelios Kapnisis</h1>
<p>Trainee</p>
</header>

<span class="image right"><img src="images/Stelios_250.jpg" alt="" /></span>

<p>I am working on the research project "ORA II" (Neural mechanisms of noradrenaline and cortisol effects on long-term memory accuracy vs. Generalization) which is supervised by Lisa Wirz.</p>
<p>Before, I obtained my bachelors at the University of the West of England, Bristol in Biomedical Sciences, currently I am studying Medical Biology with Neurobiology trajectory at Radboud University.I completed my first six-month internship at the CNS lab of Judith Homberg at the Donder’s institute with Alejandro Olvera’s supervision. My previous internship project concerned the synaptic alterations found in a Phelan McDermid syndrome mouse model (rare type of autism).</p>
<p>In my free time I write poetry, like songwriting, travelling around the Netherlands as well as Germany and Belgium with friends and enjoy the night life of Rotterdam and Amsterdam. I am also passionate with feminist literature as well as volunteering concerning refugee integration.</p> 

<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    Room 01.160<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:stelios.kapnisis@ru.nl">stelios.kapnisis@ru.nl</a></li>
    </li>

</ul>

</section>
{% endblock %}
