{% extends "base.html" %}
{% block title %}Sterre ten Velde - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Sterre ten Velde</h1>
<p>Trainee</p>
</header>

<span class="image right"><img src="images/Sterre_250.jpeg" alt="" /></span>

<p>Hello, I'm Sterre, and I am a second-year double-degree Master's Student. I am studying Cognitive Neuroscience at the Radboud University, and Human-Technology Interaction at the Technical University of Eindhoven. Before this, I completed my Bachelor of Psychology and Technology at the TU/e. For the past half year, I have traveled to Asia and studied a variety of neuroscience courses at the National University of Singapore.</p>

<p>In the upcoming months, I will be supervised by Dr. Eliana Vassena and Emma Heling as part of my internship at the CAN lab. I will help Emma to design research focussing on controllability to look into stress resilience.</p>

<p>Apart from spending my free time with friends, like having dinner or going to festivals, I love to be creative, for example, painting, pottery, or singing in a band. I am really excited to be an intern here and hope to see you around!</p>

<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:sterre.tenvelde@ru.nl">sterre.tenvelde@ru.nl</a></li>
    </li>

</ul>

</section>
{% endblock %}
