{% extends "base.html" %}
{% block title %}Tim Vriens - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Tim Vriens</h1>
<p>Visiting PhD Candidate</p>
</header>

<span class="image right"><img src="images/Tim_250.png" alt="" /></span>

<p>My main research interest s are in computational modelling, decision-making, motivation, and machine-learning. Currently, I am combining these interests in my PhD in the Computational and Translational Neuroscience lab, at the Instituto di Scienze e Technologie della Cognizione in Rome, where I aim to apply different computational modelling approaches to improve classification of disorders, using behavioral data from an effort-based decision-making paradigm.</p>

<p>I obtained two bachelor degrees, in Biomedical sciences and Mathematics. During these programs, I became interested in the workings of the brain, and decided to join the Cognitive Control lab for my internship, investigating prediction error and error prediction in an EEG-fMRI study. Afterwards, I followed a Master’s program in Cognitive Neuroscience, where I joined the Cognitive Affective Neuroscience lab under supervision of Dr. Eliana Vassena during my research internship. During this internship, I investigated the effects of stress on effort-based decision-making. When I finished my internship, I continued to work in the Cognitive Affective Neuroscience lab as a research assistant.</p>

<p>During my PhD, I am involved in some of the projects I worked on previously in the Cognitive Affective Neuroscience lab. Mainly, I am collaborating on a study continuing the analysis on the data I collected during my research internship, using computational modelling.</p>

<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>

    <li class="fa-at"><a href="emailto:Tim.Vriens@unicampus.it">Tim.Vriens@unicampus.it</a></li>
    

</ul>

</section>
{% endblock %}
