{% extends "base.html" %}
{% block title %}Vera Winters - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Vera Winters</h1>
<p>Trainee</p>
</header>

<span class="image right"><img src="images/Vera_250.jpg" alt="" /></span>

<p>I am a 4th year bachelor student biomedical sciences at the RadboudUMC, completing my bachelor with an internship here at the DCCN. I minored in translational neuroscience and stress-related disorders. This got me very interested in the underlying mechanisms of psychopathology and stress-related disorders. Now I got the opportunity to work at the CAN-lab and start working on the ‘Cortisol voor PTSS’ (CovoS) study, trying to look at the connection between early-life adversity and HPA-axis dysregulation in patients with PTSD. With the aim to improve and personalize treatment options in PTSD patients with HPA-axis dysregulation with administration of glucocorticoid to improve fear extinction. </p>

 

<p> In my free-time I like spend a lot of time with my friends, talking, having a drink or walking though the city. Once or twice a week I have gymnastics training or go I’ll for a run! I also enjoy crocheting, reading a book, and drawing.</p>   


<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:vera.winters@ru.nl">vera.winters@ru.nl</a></li>
    
</ul>

</section>
{% endblock %}
