{% extends "base.html" %}
{% block title %}Ísabella Lena Borgarsdóttir - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Ísabella Lena Borgarsdóttir</h1>
<p>Trainee</p>
</header>

<span class="image right"><img src="images/Isabella_250.jpg" alt="" /></span>

<p>I am a second-year master's student in Cognitive Neuroscience at Radboud University, currently working on the Mindful Network Dynamics Regulation under Stress (MiNDReSt) study under Nikos Kogias’ guidance. My research for the master's thesis focuses on the relationship between mindfulness, self-regulation of large-scale brain networks and clinical outcomes. Specifically, investigating whether mindfulness training enhances self-regulation of large-scale brain networks, and if this relation leads to improved clinical outcomes. The goal is to elucidate the working mechanisms of mindfulness, while laying the groundwork for additional individualized treatment regimes by training people to balance their neural networks in a neurofeedback task.</p>
<p>I obtained my bachelor's degree in Psychology at the University of Iceland, where my thesis looked at individual differences in the relation between visual and semantic percepts of animate-inanimate entities. During an Erasmus exchange program at Roskilde University in Denmark, I explored the significance of set, setting, and matrix in psychedelic therapy interventions, aiming to optimize outcomes.</p>
<p>Outside of academia, I have a passion for playing basketball, traveling, reading and outdoor adventures like hiking and snowboarding. I also enjoy practices like breathwork and ice baths, which I find valuable for stress management and overall well-being. I find great inspiration in connecting with new people and learning from diverse experiences, both in my personal life, work and within my academic pursuits.</p>

<hr class="major" />

<h2>Contact</h2>
<ul class="contact">
    <li class="fa-home">
    Kapittelweg 29<br />
    6525 EN Nijmegen<br />
    The Netherlands
    <li class="fa-envelope">
    Donders Institute for Brain, Cognition and Behaviour<br />
    Radboud University Medical Center<br />
    P.O. Box 9101<br />
    6500 HB Nijmegen<br />
    The Netherlands<br />
    </li>
    <li class="fa-at"><a href="emailto:isabella.borgarsdottir@ru.nl">isabella.borgarsdottir@ru.nl</a></li>
    </li>

</ul>

</section>
{% endblock %}
