{% extends "base.html" %}
{% block title %}Collaborations - Cognitive Affective Neuroscience lab{% endblock %}
{% block content %}
<!-- Content -->
<section>
<header class="main">
<h1>Collaborations</h1>
<p>COllaborations of the CAN-lab group</p>
</header>

<!-- <span class="image main"><img src="images/pic11.jpg" alt="" /></span> -->

<ul>


<p><h3>(Inter)national consortia</h3>

<div class="row">
  <div class="column">
    <img src="images/dynamore_250.png" alt="" />
  </div>
  <div class="column">
    <li>HERE COMES THE DESCRIPTION</li>
  </div>
</div>

<p><h3>Clinical partners</h3>
<li></li>
</p>



</ul>

</section>
{% endblock %}
